.row {
    display: flex;
  }
  
  .row button {
    width: 5vw;
    height: 5vw;
    background-color: rgb(144, 0, 0);
    margin: 2px;
    font-size: 4vw;
    cursor: pointer;
    border: 2px solid #333;
  }
  
  .row button.active {
    background-color: rgb(255, 101, 101);
    color: white;
  }
  
  .row button:hover {
    background-color: #582323;
  }
  
  #board {
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    background-color: #ff0000;
  }
  